
<!--abaixo, a sintaxe para inclusão do caminho de e um código ejs feito em
 outra pasta e aqui reaproveitado, no caso, o cabeçalho e o rodapé, header, footer-->

<%- include("partials/header"); -%>
    <h1>Home</h1>
<!-- abaixo a sintaxe do Node para passar uma variável dentro de um código
html ou ejs. Primeiro, no parágrafo, é passada um key correspondente a um value
que contém um texto que está na primeira página
-->

    <p> <%= startingContent %> </p>
<% abaixo, uma função for Each que substitui um for loop que seria
for(var i=0; i<post.length; i++) é uma função própria do JS que diz o que fazer com cada elemento informado
dentro do parênteses.O nome no parênteses normalmente é a versão singular
do nome do array. Portanto, enquanto estiver no for loop, serão aplicados a todos
os posts a função substring, que "trunca" a string no tamanho determinado, aqui,
no caso, de 0 a 100, somada a expressão ..., e o href com o link - read more - que pode
ser clicado para acessar a rota criada no app.js a partir do título do post.
Perceber a sintaxe para acessar a variável dentro do ejs %>

  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
